.heros{
   padding: 40px 0 40px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.heros-lado-esquerdo{   
   padding-right: 30px;
}

.titulo-heros{
   font-size: 45px;
   font-weight: 700;
   padding: 15px 15px 15px 0;
}

.texto-heros{
   padding: 15px 0 15px 0;
   font-size: 20px;
   font-weight: 500;
}

.redes-nav{
   display: flex;
   justify-content: space-between;
   width: 50%;
}

.redes-nav-link{
   font-weight: 700;
   text-decoration: none; 
   color: #000;  
   transition: 0.3s;
}

.redes-nav-link:hover{   
   color: #FF8C00;   
}

.heros-img{
   width: 250px;  
   border-radius: 50%;
   margin-right: 0;
}

@media screen and (max-width: 767px){
   .heros{
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 5px 0;
   }
   
   .titulo-heros{
      font-size: 20px;
      align-self: stretch;
   }

   .texto-heros{
      font-size: 18px;
      text-align: justify;
      padding: 5px 0;
   }

   .redes-nav{
      padding: 5px 5px;      
      font-size: 14px;
   }

   .redes-nav-item{
      margin-right: 10px;
   }
   
}

@media screen and (min-width: 768px) and (max-width: 1023px){  
   
   .titulo-heros{
      font-size: 24px;
      align-self: stretch;
   }

   .texto-heros{
      font-size: 20px;
      text-align: justify;
      padding: 5px 0;
   }

   .redes-nav{
      display: flex;
      justify-content: space-around;
      padding: 5px 5px;      
      font-size: 12px;
   } 
   
   .redes-nav-link{
      margin: 0 10px;
      width: 100%;
   }
}