.menu{
   background: #000;
}

.cabecalho{
   display: flex;
   justify-content: space-between;
   padding: 15px 0 15px 0;
   border-bottom: solid 1;
   width: 80%;
   margin: auto;
   
}

.logo{
   font-size: 18px;   
   font-weight: 700;      
}

.logo a{
   text-decoration: none;
   color: #FF8C00;
   transition: 0.3s;
}

.logo a:hover{
   color: #fff;
}

.nav{
   display: inline-flex;
   justify-content: space-between;
}

.nav-item{
   margin-left: 15px;
}

.nav-link{
   text-transform: uppercase;
   text-decoration: none;
   color: #fff;   
   transition: 0.3s;
}

.nav-link:hover{
   color: #FF8C00;          
}

.email-link{
   text-transform: none;
}

@media screen and (max-width: 375px){
   .cabecalho{
      display: flex;      
      justify-content: space-between;
      padding: 5px 0;
   }

   .nav-link{
      display: none;
   }

   .email-link{
      display: block;
   }
}