html{
   scroll-behavior: smooth;
}

body{
	font-family: Raleway, sans-serif;   
}

h1, h2{
   font-size: 16px;
   font-weight: bold;
}

.container{
   width: 80%;
   margin: auto;
}

.center{
   text-align: center;
}

.bg-azul{
   background: #EAF2FD;
}

.cor-primaria{
  background: #FF8C00;
}

.cor-secundaria{
   background: #000;
   color: #FF8C00;
}

.cor-terciaria{
   background: #a3a3a281;
}

.btn{
   width: auto;
   height: auto;
   padding: 10px 15px;
   border: 1px solid;
   border-radius: 5px;
   text-decoration: none;
   cursor: pointer;
}

.btn-primario{
   background: #FF8C00;
   color: #000;
   border: none;
   transition: 0.3s;
}

.btn-primario:hover{
   background: #ff8c00bd;    
}

.btn-secundario{
   background: #000;
   color: #FF8C00;
   border: none;
}

.btn-secundario:hover{
   background: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 767px){
   .container{
      width: 95vw;
   }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
   .container{
      width: 90vw;
   }
}